@import url(reset.css);

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:#f1f1f1;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #009951;
}

body{
    background-color: #f1f1f1;
}

.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #009951;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.div-opcoes{
    display: flex;
    width: 80%;
    justify-content: flex-start;
}

.div-opcoes ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    gap: 50px;
}

.div-opcoes a{
    text-decoration: none;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.div-opcoes a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #80de6a;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.div-opcoes a:hover::after{
    width: 100%;
}

#primeiro-button-contato {
    background: #c3f9b1;
    border: 1px solid  #c3f9b1;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #009951;
    cursor: pointer;
    display: inline-block;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

#primeiro-button-contato:hover,
#primeiro-button-contato:active {
    background-color: initial;
    background-position: 0 0;
    color:  #ffffff;
    text-decoration: none;
}

#primeiro-button-contato::after {
    content: none; 
}

#primeiro-button-contato:active {
    opacity: .5;
}

.div-imagem{
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 10px 0px 10px 50px;
}

.div-imagem i{
    font-size: 40px;
    color: #ffffff;
    transition: color 0.5s ease;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
}

.div-imagem i:hover{
    color: #c3f9b1;
    border: 1px solid #c3f9b1;
    cursor: pointer;
    transition: color 0.5s ease;
}

.div-imagem{
    display: flex;
    font-size: 50px;
    animation: pulseEffect 1s ease-in-out infinite;
}

@keyframes pulseEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1);
    }
}

.assunto-principal{
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position:relative;
}

.assunto-principal::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../imagens/—Pngtree—doctor\ gives\ the\ elderly\ _4200892.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -1%;
    opacity: .8;
    z-index: 0;
}

.conteudo-principal{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.conteudo-principal h1{
    padding: 50px 0px 50px 0px;
    color: #ffffff;
    text-transform: uppercase;
}

.conteudo-principal p{
    font-weight: 500;
    font-size: 25px;
    border: #009951 solid 1px;
    border-radius: 10px;
    background-color: #009951;
    color: #ffffff;
    padding: 20px;
    text-align: justify;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.conteudo-principal p, h1{
    position: relative;
    animation: conteudo-principal 1.5s ease-out forwards ;
}

@keyframes conteudo-principal {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

#cuidados{
    font-size: 50px;
    color: #009951;
    border:#c3f9b1 solid 1px;
    border-radius: 10px;
    background-color: #c3f9b1;
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.span-bemvindo{
    color: #80de6a;
    font-weight: 700;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0px 50px;
    padding: 30px;
    border-radius: 10px;
    
}

.conteudo-secundario {
    animation: grow 1.5s ease-out forwards;
}

@keyframes grow {
    0% {
        transform: scale(0.5); /* Começa pequeno */
    }
    100% {
        transform: scale(1); /* Cresce até o tamanho normal */
    }
}

.conteudo-secundario h2{
    color: #009951;
    border-left: 5px solid #009951;
    margin: 5px 0px 15px 2px;
    padding-left: 15px;
    text-transform: uppercase;
}

.conteudo-secundario h3{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.conteudo-secundario p{
    width: 100%;
    color: #009951;
    padding: 10px 0px 0px 0px;
    font-size: 25px;
    font-weight: 400;
    background-color:#adff95;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    
}

.conteudo-secundario span{
    color: #000000;
    font-weight: 400;
    margin-top: 20px;
}

.conteudo-secundario img{
    width: 1000px;
    height: 700px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.span-conteudo-secundario{
    font-size: 30px;
}

.conteudo-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:transparent;
    border-radius: 10px 10px 0px 0px;
    padding: 30px;
    margin: 0px 80px 0px 80px;
    
}

.conteudo-contato {
    position: relative;
    animation: slideIn 1.5s ease-out forwards;
}

@keyframes slideIn {
    0% {
        left: -100%; 
    }
    100% {
        left: 0; 
    }
}

.textoeimagem{
    display: flex;
    align-items: center;
}

.textoeimagem img{
    width: 400px; 
    height: auto; 
    object-fit: cover;
    border-radius: 5px;
    margin: 0px 0% 0px 30px;
}

.span-contato{
    width: 50%;
    color: #009951;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    margin: 0px 30px 0px 30px;
}

.h2-contato{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 5px 0px 30px 2px;
    padding-left: 15px;
}

.h2-contato h2{
    color: #80de6a;
    border-left: 5px solid #009951;
    text-transform: uppercase;
    padding-left: 15px;
}

.fakebutton{
    background-color: #009951;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    transition: .3s all ease;
}

.fakebutton:hover{
    border: 1px solid #009951;
    transition: .3s all ease;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #009951;
}

.sociais{
    display: flex;
    justify-content: center;
    width: 50%;
}

.div-copyright{
    display: flex;
    justify-content: center;
    width: 50%;
}

.div-copyright p{
    
    font-weight: 500;
    color: #80de6a;
    font-size: 20px;
    transition: .3s all ease;
}

.div-copyright p:hover{
    color: #f3f3f3;
    transition: .3s all ease;
}

.sociais ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}

.sociais i{
    font-size: 50px;
    color:#80de6a;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sociais i:hover{
    transform: scale(1.05);
    transition: .6s;
    color:#f3f3f3;
}




