@import url(reset.css);

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:#ffffff;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #009951;
}

.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #009951;
    height: 100px;
}

.div-opcoes{
    display: flex;
    width: 100%;
    justify-content: center;
}

.div-opcoes ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 30px;
}

#primeiro-button-contato{
    background-color: #c3f9b1;
    padding: 5px;
    border-radius: 5px;
    color: #009951;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
}

#primeiro-button-contato:hover{
    background-color: #009951;
    transition: 0.5s ease;
    color:  #c3f9b1;
}

.div-opcoes a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
}

.div-imagem{
    display: flex;
    padding: 10px 0px 10px 50px;
}

.div-imagem i{
    font-size: 40px;
    color: #ffffff;
    transition: color 0.5s ease;
    cursor: pointer;
}

.div-imagem i:hover{
    color: #ff0000;
    cursor: pointer;
    transition: color 0.5s ease;
}

.assunto-principal{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position:relative;
}

.assunto-principal::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../imagens/rawpixel-com-lifeofpix-rawpixelcom1624-306733.jpg);
    background-size: cover;
    background-position: center;
    opacity: .8;
    z-index: 0;
}

.conteudo-principal{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.conteudo-principal h1{
    padding: 50px 0px 50px 0px;
    color: #ffffff;
    text-transform: uppercase;
}

.conteudo-principal p{
    font-weight: 500;
    font-size: 25px;
    border: #009951 solid 1px;
    border-radius: 10px;
    background-color: #009951;
    color: #ffffff;
    padding: 20px;
    text-align: justify;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#cuidados{
    font-size: 50px;
    color: #009951;
    border:#c3f9b1 solid 1px;
    border-radius: 10px;
    background-color: #c3f9b1;
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.span-bemvindo{
    color: #80de6a;
    font-weight: 700;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 50px 50px 0px 50px;
    border: 3px solid #c3f9b1;
    background-color: #c3f9b1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.conteudo-secundario h2{
    color: #80de6a;
    border-left: 5px solid #009951;
    margin: 5px 0px 15px 2px;
    padding-left: 15px;
    text-transform: uppercase;
}

.conteudo-secundario p{
    width: 100%;
    color: #009951;
    padding: 10px 0px 0px 0px;
    font-size: 25px;
    font-weight: 500;
}

.conteudo-secundario span{
    color: #80de6a;
    font-weight: 700;
}

.conteudo-secundario img{
    width: 600px;
    margin: 30px 0px 30px 50px;
}

.conteudo-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px 50px 50px;
    background-color: #c3f9b1;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.textoeimagem{
    display: flex;
}

.textoeimagem img{
    width: 60%; 
    height: auto; 
    object-fit: cover;
    border-radius: 5px;
    margin: 0px 30px 0px 30px;
}

.span-contato{
    color: #009951;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    margin: 100px 30px 0px 30px;
}

.h2-contato{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 5px 0px 30px 2px;
    padding-left: 15px;
}

.h2-contato h2{
    color: #80de6a;
    border-left: 5px solid #009951;
    text-transform: uppercase;
    padding-left: 15px;
}

.fakebutton{
    background-color: #009951;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    transition: .3s all ease;
}

.fakebutton:hover{
    border: 1px solid #009951;
    transition: .3s all ease;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #009951;
}

.sociais{
    display: flex;
    justify-content: center;
    width: 50%;
}

.div-copyright{
    display: flex;
    justify-content: center;
    width: 50%;
}

.div-copyright p{
    text-transform: uppercase;
    font-weight: 700;
    color: #80de6a;
    font-size: 20px;
}

.sociais ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}

.sociais i{
    font-size: 50px;
    color:#80de6a;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}